/* 全体 */
body {
	font-family: "Helvetica Neue",
		Arial,
		"Hiragino Kaku Gothic ProN",
		"Hiragino Sans",
		Meiryo,
		sans-serif;
	margin: 0%;
	text-align: center;
	/* 中央寄せ */
	min-width: 0px;
	/* 最小幅 */
}


body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-image: url(/img/1000_F_445185382_XxNpO8VnlMT6GBE7a1m19Z2gtfyUN1Yb.jpg);
	background-repeat: repeat;
	background-position: 100% 100%;
	background-size: 30%;
}

/* ヘッダー、ナビゲーションメニュー、フッター */
header,
nav,
footer {
	z-index: 2;
	background-color: #114b5f;
	/* 背景色 */
	color: #ffffff;
	/* 文字色 */
	padding-top: 5px;
	/* 内側余白(上) */
	padding-bottom: 5px;
	/* 内側余白(下) */
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #114b5f;
}

/* ヘッダー、ナビゲーション内リンク */
header a,
nav a {
	font-family: "Helvetica Neue",
		Arial,
		"Hiragino Kaku Gothic ProN",
		"Hiragino Sans",
		Meiryo,
		sans-serif;
	color: #ffffff;
}

/* ヘッダー内見出し */
header h1 {
	font-family: "Helvetica Neue",
		Arial,
		"Hiragino Kaku Gothic ProN",
		"Hiragino Sans",
		Meiryo,
		sans-serif;
	font-size: 20pt;
	margin: 10px auto;
}

/* 仕切り線 */
hr {
	border-top: 2px dashed #7d8bae;
}

/* メイン */
main {
	font-family: "Helvetica Neue",
		Arial,
		"Hiragino Kaku Gothic ProN",
		"Hiragino Sans",
		Meiryo,
		sans-serif;
	background-color: #FFFFFF;
	min-height: 50px;
	padding: 20px;
}

/* 表線 */
table,
th,
td {
	border-collapse: collapse;
	border: 1px solid #114b5f;
}

/* 表 */
table {
	background-color: #ffffff;
	margin: 5px auto;
	min-width: 800px;
}

/* 表見出しセル */
table th {
	background: #114b5f;
	color: #ffffff;
}

/* 送信ボタン */
button {
	margin: 2px;
	padding: 5px 20px;
	background-color: #048BA8;
	color: #ffffff;
	border: none;
	width: 150px;
	cursor: pointer;
}

/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: #88D498;
}

.title {
	/*	-webkit-clip-path: polygon(0 0, 100% 30%, 100% 70%, 0 100%);*/
	/*  clip-path: polygon(0 0, 100% 30%, 100% 70%, 0 100%);*/
	/*  background: #e5857b;*/
	margin: 2px;
	padding: 5px 20px;
	background-color: #1A936F;
	color: #ffffff;
	border: none;
	width: 300px;
	height: 100px;
	cursor: pointer;

}

.btn-text-3d {
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
	color: #ffffff;
	text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
}

.btn-text-3d:active {
	top: 4px;
	text-shadow: none;
}

.btn-flat-vertical-border {
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 0.5em 1em;
	text-decoration: none;
	border-left: solid 4px #668ad8;
	border-right: solid 4px #668ad8;
	color: #668ad8;
	background: #e1f3ff;
	transition: .4s;
}

.btn-flat-vertical-border:hover {
	background: #668ad8;
	color: #FFF;
}

.btn-right-radius {
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #00BCD4;
	background: #BAD7F2;
	border-radius: 0 15px 15px 0;
	transition: .4s;
}

.btn-right-radius:hover {
	background: #636363;
}

.btn-circle-border-double {
	display: inline-block;
	text-decoration: none;
	color: #ffffff;
	width: 120px;
	height: 120px;
	line-height: 120px;
	border-radius: 50%;
	border: double 4px #668ad8;
	text-align: center;
	overflow: hidden;
	transition: .6s;
}

.btn-circle-border-double:hover {
	-webkit-transform: rotateY(360deg);
	transform: rotateY(360deg);
}

h2 {
	color: #505050;
	/*文字色*/
	padding: 0.5em;
	/*文字周りの余白*/
	display: inline-block;
	/*おまじない*/
	line-height: 1.3;
	/*行高*/
	background: #dbebf8;
	/*背景色*/
	vertical-align: middle;
	border-radius: 25px 0px 0px 25px;
	/*左側の角を丸く*/
}

h2:before {
	content: '●';
	color: white;
	margin-right: 8px;
}

.errer {
	color: #FF6B6B;
	background-color: #AFE9E5
}

.home {
	background-image: url(/img/487.png);
	background-position: 100% 100%;
	background-size: 30%;
	z-index: 1;
}