<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
<meta charset="UTF-8">
<title>単語更新画面</title>
</head>
<body>
	<header>
		<h1><a href="/userlist">単語帳</a></h1>
		<a href="/logout" class="btn-text-3d">ログアウト</a>
		<br>
		<a href="/list" class="btn-text-3d">単語帳一覧</a>
	</header>
<!--	<main>-->
		<h2>単語更新</h2>
		<form th:action="@{/word/{id}/edit(id = ${word.id})}" method="post">
			<table border="1">
				<tr>
				<th>単語</th>
				<td><input type="text" name="word" th:value="${word.word}"></td>	
				</tr>
				<tr>
				<th>詳細</th>
				<td><input type="text" name="body" th:value="${word.body}"></td>	
				</tr>
			</table>
		<input type="hidden" name="categoryId" th:value="${word.categoryId}">
			<button class="btn-right-radius">変更</button>
		</form>
		<footer th:replace="footer"></footer>

</body>
</html>