<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
	<header>
		<h1>単語帳</h1>
	</header>
<!--	<main>-->
		<form action="/login" method="post">
			<span th:text="${message}" class="errer"></span><br>
			<input type="text" name="email" placeholder="メールアドレス" th:value="${email}">
			<br>
			<input type="text" name="password" placeholder="パスワード">
			<br>
			<button class="btn-right-radius">ログイン</button>
			<br>
			<br>
			<a href="/users/new" class="btn-flat-vertical-border">ユーザー新規作成</a>
		</form>
<!--	</main>-->
	<footer th:replace="footer"></footer>

</body>
</html>