<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
	<header>
		<h1>単語帳</h1>
	</header>
	<main>
		<form action="/login" method="post">
			<span th:text="${message}" style="color: red"></span><br>
			<input type="text" name="email" placeholder="メールアドレス" th:value="${email}">
			<br>
			<input type="text" name="password" placeholder="パスワード">
			<br>
			<button>ログイン</button>
			<br>
			<br>
			<a href="/users/new">ユーザー新規作成</a>
		</form>
	</main>
	

</body>
</html>