<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
<meta charset="UTF-8">
<title>ユーザー新規作成</title>
</head>
<body>
	<header>
		<h1>単語帳</h1>
	</header>
	<main>
		<h2>ユーザー新規作成</h2>
		<div th:each="error:${errorList}" >
			<span th:text="${error}" style="color: red"></span>
		</div>
		<form action="/users/add" method="post">
			<input type="text" name="name" placeholder="名前" th:value="${name}">
			<br>
			<input type="text" name="email" placeholder="メールアドレス" th:value="${email}">
			<br>
			<input type="text" name="password" placeholder="パスワード">
			<br>
			<input type="text" name="repassword" placeholder="パスワード（確認）">
			<br>
			<br>
			<button>新規作成</button>
			
		</form>
	</main>

</body>
</html>