<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>単語一覧</title>
</head>

<body>
	<header>
		<h1><a href="/userlist">単語帳</a></h1>
		<a href="/logout">ログアウト</a>
	</header>
	<main>
		<h2>単語一覧</h2>
		<th:block th:each="words:${word}">
			<a th:href="@{/word/create(categoryId=${words.id})}">新規単語追加</a>
			<th:block th:each="words:${word}">
				<table border="1">
					<tr>

						<th>単語</th>
						<th>詳細</th>
						<th>編集</th>
						<th>削除</th>
						<th>チェック</th>
					</tr>
					<th:block th:each="words:${word}">
						<tr th:if="${words.id eq blogs.categoryId}" th:each="blogs:${blog}">
							<td th:text="${blogs.word}"></td>
							<td th:text="${blogs.body}"></td>
							<td>
								<form th:action="@{/word/{id}/edit(id = ${blogs.id})}" method="get">
									<button>編集</button>
								</form>
							</td>
							<form th:action="@{/word/{id}/delete(id = ${blogs.id})}" method="post">
								<input type="hidden" name="categoryId" th:value="${blogs.categoryId}">
								<td><button>削除</button></td>
							</form>
							<td th:if="${blogs.remember}==1">
								<form th:action="@{/word/{id}/check(id = ${blogs.id})}" method="post">
									<button>チェック</button>
									<input type="hidden" name="categoryId" th:value="${blogs.categoryId}">
									<input type="hidden" name="word" th:value="${blogs.word}">
									<input type="hidden" name="body" th:value="${blogs.body}">
									<input type="hidden" name="remember" value="0">
								</form>
							</td>
							<td th:if="${blogs.remember}==0">
								<form th:action="@{/word/{id}/check(id = ${blogs.id})}" method="post">
									<button>未チェック</button>
									<input type="hidden" name="categoryId" th:value="${blogs.categoryId}">
									<input type="hidden" name="word" th:value="${blogs.word}">
									<input type="hidden" name="body" th:value="${blogs.body}">
									<input type="hidden" name="remember" value="1">
								</form>

							</td>






						</tr>
					</th:block>
				</table>

	</main>

</body>

</html>