<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>単語一覧</title>
</head>

<body>
	<header>
		<h1>単語帳</h1>
	</header>
	<main>
		<h2>単語一覧</h2>
		
		<a href="/word/create">新規単語追加</a>	
		<table border="1">
			<tr>
				
				<th>単語</th>
				<th>意味</th>
				<th>編集</th>
				<th>削除</th>
				<th>チェック</th>
			</tr>	
			<tr th:each="words:${word}">
				<td th:text="${words.word}"></td>
				<td th:text="${words.body}"></td>
		<td><form th:action="@{/word/{id}/edit(id = ${words.id})}" method="get">
				<button>編集</button>
			</form></td>
				<td><button>削除</button></td>
				<td></td>
			</tr>
		</table>
		
	</main>

</body>

</html>